$burger-color: $color-gray;
$burger-color-active: $color-primary;

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.open-nav {
  @include transition;

  &.main-nav {
    @include mq-sizes($small) {
      right: 0;
      background-color: rgb(245 246 246 / 90%);
    }
  }
}

.nav-container {
  margin-top: 70px;
}

.main-nav {
  width: 100%;
  text-align: right;
  margin: 0;

  @include mq-sizes($small) {
    text-align: left;

    @include transition;

    position: fixed;
    right: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 20;
  }

  .nav-item {
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;

    a {
      color: $color-primary-link;

      &.active {
        color: $color-primary-link-hover;
        text-decoration: underline;
      }
    }

    @include mq-sizes($small) {
      margin: 20px;
      display: block;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
