.hero {
  background-image: url('images/top-foto.jpg');
  background-size: cover;
  background-position: center;
  min-height: 350px;

  @include mq-sizes($small) {
    background-position: bottom;
    min-height: 170px;
  }

  &.flex {
    justify-content: center;
  }

  .hero-link {
    border: 1px solid $color-primary;
    padding: 20px;

    &:hover {
      text-decoration: none;
    }

    @include mq-sizes($small) {
      display: none;
    }
  }
}

.main-container {
  min-height: 100vh;
}

.container {
  padding: 30px;
}

.main-footer {
  background-color: $color-secondary;
  font-size: 12px;
}

button {
  cursor: pointer;
}
