.hero {
  background-image: url('/public/images/top-foto.jpg');
  background-size: cover;
  background-position: center;
  min-height: 350px;
  @include mQ($small) {
    background-position: bottom;
    min-height: 170px;
  }

  &.flex {
    justify-content: center;
  }

  .hero-link {
    border: 1px solid $color-primary;
    padding: 20px;
    &:hover {
      text-decoration: none;
    }
    @include mQ($small) {
      display: none;
    }
  }
}
.main-container {
  height: 100vh;
  flex-grow: 1;
}

.container {
  padding: 40px;
}
