@mixin mq-sizes($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin arrow($size: 20px, $color: green) {
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: $size;
  border-top-color: $color;
}

@mixin circle($size: 20px) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

@mixin rotate($deg: 45deg) {
  transform: rotate($deg);
}

@mixin opacity($opacity: 0.8) {
  filter: alpha(opacity=80);
}

@mixin flexbox(
  $wrap: wrap,
  $justify-content: flex-start,
  $flex-direction: column
) {
  display: flex;
  flex-flow: $flex-direction $wrap;
  justify-content: $justify-content;
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  transition: $what $time $how;
}
